<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/css/icon.png">
</head>
<div class="main-content">
    <body>
    <h1>Help</h1>
    <p>{{helpText}}</p>
</body>

</div>
{{>footer}}
</html>